

    body { font-family: "Adobe Garamond Premier Pro", Garamond, "Linux Libertine", Baskerville, Georgia, serif;
        font-weight: normal; 
        font-size: 18px; 
        color: #111111; 
        background-color: #fefefe; 
        padding: 1em; width: 95vw; 
        max-width: 100%;
        margin: 0 auto; }

     div.inputdata{
        display: flex;
        position: absolute;
        top: 40%;
        left: 5%;
        height: 80%;
        width: 25%;
        background: salmon;
     }
     span.heading{
        display: flex;
        position: absolute;
        padding: auto;
        text-align: center;
        font-weight: 1000;
        top: 10%;
        left: 0%;
        height: 40%;
        width: 100%;
        background-color: aqua;
        font-size: xx-large;
     }
     span.data{
        display: flex;
        position: absolute;
        padding: auto;
        text-align: center;
        font-weight: 1000;
        top: 60%;
        left: 0%;
        height: 40%;
        width: 100%;
        background-color: rgb(0, 13, 255);
        font-size: xx-large;
     }
     input.data{
        display: flex;
        position: absolute;
        top: 10%;
        left: inherit;
        width: inherit;
        height: 90%;
     }
     div.name{
        display: flex;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 20%;
        width: 100%;
        background-color: rgb(255, 99, 234);
     }
     div.father-name{
        display: flex;
        position: absolute;
        top: 20%;
        left: 0%;
        height: 20%;
        width: 100%;
        background-color: gray;
     }
     div.sport-name{
        display: flex;
        position: absolute;
        top: 40%;
        left: 0%;
        height: 20%;
        width: 100%;
        background-color: rgb(181, 231, 31);
     }
     div.year{
        display: flex;
        position: absolute;
        top: 60%;
        left: 0%;
        height: 20%;
        width: 100%;
        background-color: rgb(109, 185, 77);
     }
     div.submit{
        display: flex;
        position: absolute;
        top: 80%;
        left: 0%;
        height: 20%;
        width: 100%;
        background-color: rgb(226, 103, 103);
     }
     button.submit{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        border-radius: 50px;
        justify-content: center;
        text-align: center;
        padding-top: 1%;
        font-weight: 800;
        font-size: xx-large;
        top: 25%;
        left: 25%;
        height: 50%;
        width: 50%;
        cursor: pointer;
     }
     div.certificate{
        display: flex;
        position: absolute;
        top: 40%;
        left: 35%;
        height: 80%;
        width: 60%;
        background-color: rgba(0, 255, 76, 0.814);
     }
     div.header{
        display: flex;
        position: absolute;
        font-family: cursive;
        font-size: 50px;
        top: 5%;
        left: 14%;
        height: 10%;
        color: red;
        width: 72%;
        text-shadow: 3px 3px 3px black;
        /* background-color: antiquewhite; */
     }
     div.presenter{
        display: flex;
        position: absolute;
        top: 20%;
        left: 38%;
        /* background-color: gray; */
        height: 5%;
        /* letter-spacing: 2px; */
        font-size: 30px;
        width: 24%;
        font-family: monospace;
     }
     div.applicant-name{
        display: flex;
        position: absolute;
        font-weight: 500;
        font-family: cursive;
        justify-content: center;
        top: 26%;
        color: blue;
        font-size: 40px;
        left: 10%;
        height: 8%;
        width: 80%;
        /* background-color: aquamarine; */
     }
     div.so{
        display: flex;
        position: absolute;
        top: 35%;
        font-family: monospace;
        left: 47%;
        font-size: 30px;
        height: 5%;
        width: 6%;
        /* background-color: crimson; */
     }
     div.father-applicant-name{
        display: flex;
        position: absolute;
        font-weight: 500;
        font-family: cursive;
        justify-content: center;
        top: 42%;
        color: blue;
        font-size: 40px;
        left: 10%;
        height: 8%;
        width: 80%;
        /* background-color: aquamarine; */
     }
     div.report{
        display: flex;
        position: absolute;
        font-size: x-large;
        top: 55%;
        left: 5%;
        letter-spacing: 2px;
        text-align: center;
        height: 16%;
        justify-content: center;
        width: 90%;
        background-color: gray;
     }
     div.sport-name{
        display: flex;
        position: absolute;
        top: 72%;
        left: 5%;
        height: 10%;
        width: 40%;
        background-color: gray;
     }
     div.fixhead{
        display: flex;
        position: absolute;
        top: 25%;
        left: 0%;
        font-size: 25px;
        font-weight: 550;
        height: 50%;
        width: 20%;
        background-color: crimson;
     }
     div.fixname{
        display: flex;
        position: absolute;
        top: 25%;
        font-size: 25px;
        left: 22%;
        height: 50%;
        width: 78%;
        background-color: aqua;
     }
     div.player-name{
        display: flex;
        position: absolute;
        top: 72%;
        left: 55%;
        height: 10%;
        width: 40%;
        background-color: gray;
     }
     div.footer{
        display: flex;
        position: absolute;
        top: 130%;
        left: 0%;
        height: 30%;
        width: 100%;
        background-color: gray;
     }